body{
    margin: 0;
    padding: 0;
}
.container{
    background-color: aqua;
}
.box{
    border: 2px solid black;
    display: inline-block;
    height: 150px;
    width: 150px;
}
#box3{
       
}
h1{
    color: red;
    text-shadow: 5px 1px 5px blanchedalmond;
}